
@{
    ViewBag.Title = "About";
}

<h2>About Us</h2>

<head>
    <link href="~/Content/About.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAh5AAAAJDY0NTU0MzRiLTA5YmYtNGZjYS1iZGI2LThkYzViZDQyNzQ4MA.jpg" class="about-image">
            </div>

            <div class="col-md-8 col-sm-12 col-xs-12 about-content">
                <div class="form-group">
                    <label class="form-text-label">Restaurant POS</label>
                </div>
                <div class="form-group">
                    <label class="form-text-label">Version 4.2.1.0 </label>
                </div>
                <div class="form-group">
                    <label class="form-text-label">Copyright @DateTime.Now.Year </label>
                </div>
                <div class="form-group">
                    <label class="form-text-label">Developed By: CARAMEL IT SERVICES pvt.ltd </label>
                </div>
                <div class="form-group">
                    <label><p>Warning: Please do not distribute this computer program without permission of its owner. Unauthorized reproduction or distrubution of this program or any portion of it, may result in severe civil and criminal penalities</p></label>
                </div>
            </div>



        </div>
    </div>
</body>
