
@{
    ViewBag.Title = "Database";
}

<h2 style=" margin-bottom: 105px;text-align: center;">Database</h2>
<head>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link href="~/StyleSheet2.css" rel="stylesheet" />
   </head>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            </div>
        <div class="col-md-4">
           <div> <button type="button" class="btn btn-success"><i class="fa fa-repeat fa-3x" aria-hidden="true"><b> DB BackUp.</b></i></button></div><br><br>
            <div><button type="button" class="btn btn-success"style="width: 82%;"><i class="fa fa-database fa-3x" aria-hidden="true"><b> DB Restore.</b></i></button></div>
           </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
