
@{
    ViewBag.Title = "Delivery";
}
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="container"style="text-align: center;">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("EmployeeRegistration", "EmployeeRegistration")" class="btn btn-primary btn-lg active" role="button"><i class="fa fa-user-circle"aria-hidden="true"  ></i> Delivery Person</a>
            <a href="@Url.Action("OnlineOrderType", "OnlineOrderType")" class="btn btn-primary btn-lg active" role="button"><i class="fa fa-bed" aria-hidden="true"></i> Other Resource</a>

        </div>
    </div>
</div>

