<!DOCTYPE html>
@{
    ViewBag.Title = "EmailSetting";
}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .EmailSetting-Container {
            width: 500px;
        }

         .button {
            background-color: #66ffb3; /* Green */
            border: none;
            color: #09090a;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
        }

        .button1:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }

        div {
            border-radius: 10px;
            background-color: #f2f2f2;
            padding: 20px;
            margin-top: 21px;
        }
    </style>
    
</head>
    <body style="background-color: #f2f2f2 ;text-align: center;
    margin-top:-74px;">
 <div>
                <h2>POS Email Setting</h2><br /><br />
                <label>Server Name:</label>&nbsp&nbsp
                <select id="myList" style="
    width: 193px;height: 26px;">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                </select><br /><br />
                <label>SMTP Address:</label> <input type="text" id="Tab" name="SMTP Address" style="width: 190px"><br /><br />
                <label>Email Id:</label> <input type="text" id="Tab" name="Email Id" style="width: 190px;margin-left: 45px;"><br /><br />
                <label>Password:</label> <input type="text" id="Tab" name="Password" style="width: 190px;margin-left: 29px;"><br /><br />
                <label>Port:</label> <input type="text" id="Tab" name="Port" style="width: 190px;margin-left: 71px;"><br /><br />
     <label style="margin-left: -34px;">TLS/SSL Required:</label>&nbsp&nbsp
     <select id="myList" style="
    width: 193px;height: 26px;">
         <option value="1"></option>
         <option value="2"></option>
         <option value="3"></option>
         <option value="4"></option>
     </select>
         <form action="">
         <input type="checkbox" name="default" value="Bike">Is Deafult<br>
         <input type="checkbox" name="enabled" value="Car">Is Enabled
     </form>
    </div>
        <button class="button button1"><i class="fa fa-sticky-note-o"></i>NEW</button>
        <button class="button button1"><i class="fa fa-floppy-o" aria-hidden="true"></i>SAVE</button>
        <button class="button button1"><i class="fa fa-cloud-upload" aria-hidden="true"></i>UPDATE</button>
        <button class="button button1"><i class="fa fa-trash-o" aria-hidden="true"></i>DELETE</button>

    </body>

</html>