
@{
    ViewBag.Title = "Logs";
}
<head>
    <link href="~/Content/commonstyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
<h2 style="text-align:center">Logs List</h2>
    <div class="container">
    <div class="row">
        <div class="col-md-2 col-xs-12">
            <div class="form-group">
            <label class="form-group-label">From : </label>
            <input type="date" class="form-group-box">
        </div>
    </div>
        <div class="col-md-2 col-xs-12">
            <div class="form-group">
            <label class="form-group-label">To : </label>
            <input type="date" class="form-group-box">
        </div>
    </div>        
    <div class="col-md-2 col-xs-12" id="controls">
        <button id="controls-inner"><i class="fa fa-database fa-2x" aria-hidden="true"></i><strong class="button-txt">Get Data</strong></button>
    </div>
        <div class="col-md-2 col-xs-12 user">
            <div class="form-group">
                <label class="form-group-label">User ID : </label>
                <select class="form-group-box">
                    <option>Super-Admin</option>
                    <option> Admin</option>
                    <option>Cashier</option>
                    <option>Waiter</option>
                </select>
            </div>
        </div>
    <div class="col-md-2 col-xs-12">
        <button id="controls-inner"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i><strong class="button-txt">Reset</strong></button>
    </div>
    <div class="col-md-2">
        <button id="controls-inner"><i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i><strong class="button-txt">Export Excel </strong></button>
    </div>
    </div>
    </div>
