
@{
    ViewBag.Title = "PrintCards";
}
<head>
<link href="~/Content/PrintCards.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

        .rpos-button {
            background-color:#66ffb3;
            margin-top:-23px;
        }
    </style>
</head>
<h2 style="text-align:center">PrintCards</h2>

<div class="container member">
<div class="row">
    <div class="col-md-3"style="margin-top: 40px;">
        <label class="rpos-label">Search By Member Name :</label>
        <input type="text" class="rpos-text-box">
    </div><br /><br>
    <div class="col-md-3">
        <label class="rpos-label">Search By Member ID :</label>
        <input type="text" class="rpos-text-box">
    </div><br /><br>
    <div class="col-md-3">
        <button class="rpos-button"><i class="fa fa-id-card-o fa-2x" aria-hidden="true"></i><strong class="rpos-button-txt"> View Card </strong></button>
    </div>
    <div class="col-md-3">
        <button class="rpos-button"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i><strong class="rpos-button-txt"> Reset</strong></button>
    </div>
</div>
</div>