
@{
    ViewBag.Title = "Table";
}



<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/Content/Table.css" rel="stylesheet" />
    </head>
    <body style="text-align: center;MARGIN-TOP: -49px;">
        <div class="a">
                <h2> List Of Tables</h2>
                <label for="Table No">Table No</label>
                <input type="text" id="Tab" name="Table No" placeholder="Required Table No" style="width: 283px;margin-left:13px;margin-top: 15px;"></br></br>
               
                <button class="button button1"><i class="fa fa-hand-pointer-o fa-3x" aria-hidden="true"></i>Activate/Deactivate</button>
               
        </div>
    </body>
</html>

