
@{
    ViewBag.Title = "WorkPeriod";
}
<style>
    h4{
        font-size:20px;
        margin-top:-5px;
    }
    #btnn-inner {
        background-color: #ddff99;
        margin-top:-1px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <button id="btnn-inner"><br /><h4><b> Start Work Period </b></h4></button><br><br>
            <button id="btnn-inner"><br /><h4><b> End Work Period </b></h4></button>
            </div>
        <div class="col-md-3">
            <h4><b> Date of Work Period: </b></h4><br><br>
            <h4><b> Total Work Time: </b></h4>
        </div>
        <div class="col-md-6">
        </div>
        </div>
    </div>

