/*Header info*/

.rest_info {
    text-align: center !important;
    font-size: 20px !important;
    color: #05ecea !important;
}
/*Footer*/
.footer {
    background: #333;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 3px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
/*left side controls for uploading the files*/
#btnn-inner {
    height: 50px;
    width: 50%;
    margin-left: 78px;
}


/* Right Side controls css */
#controls-inner {
    background-color: #66ffb3; /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 50%;
    height: 50px;
    margin-top: 10px;
}

    #controls-inner:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }


.txt {
    padding-left: 8px;
}


/*text box css*/

.form-text {
    width: 100%;
    margin-top: 3%;
}

.form-text-label {
    margin-left: 81px;
    float: left;
    width: 24%;
}

.label-text-box {
    height: 29px;
    width: 100%;
}
.form_data {
    text-align: justify;
}

    .label-text-box:focus {
        border-color: #4488cc;
        border-style: solid;
        border-width: 2px;
        outline: 0;
    }
/*Logo Preview*/
.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

#img-upload {
    width: 30%;
}
/*Logo Preview Ends*/
/*Table CSS*/
.rtable {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
}

    .rtable th {
        font-size: 11px;
        text-align: left;
        text-transform: uppercase;
        background: #f2f0e6;
    }

    .rtable th,
    .rtable td {
        padding: 6px 12px;
        border: 1px solid #d9d7ce;
    }
/*Table CSS ends*/